html{
  text-align: center;
  font-family: 'Courgette', cursive;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
body { 
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}
canvas { 
  outline: none;
}
hr{
  margin: 10px;
}
.rotation{
  display: flex;
  flex-direction: row;
}
.containerMenu{
  min-width: 200px;
}
#angle{
  padding: 10px;
}
.menu{
  position: relative;
}
button{
  margin:5px;
  border:0;
  border-radius:5px;
  padding: 10px;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn-distanciaEixo button, .btn-cubRotation button{
  width: 50px;
  background: grey;
  color: #fff;
}
.btn-color input[type="color"]{
  background: transparent;
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.btn-cubRotation div{
  margin-left: -20px;
}
.btn-cubRotation input[type="checkbox"]{
  margin: 10px 0px 0px 20px;
  padding: 50px;
}
footer{
  padding: 0px;
}
footer{
  display: flex;
  flex-direction: row;
  
}
footer div{
  margin: 10px;
  padding: 5px;
  max-width: 100px;
}
img{
  width: 100%;
}